<connectionStrings>
  <!-- the connection string tag will allow one to specific a connection to a database.
        you may have several connection strings pointing to the same data base OR seperate databases
        
        name is the name your program will use to access theis connection stream
        connectionString points to your database: the server source; the databse name; security access
        providerName indicates the client requiremnt for your databse type-->
  <add name="NWD" connectionString="Data Source=STEVEPOPIK-PC\SQLEXPRESS; Initial Catalog=Northwind_CPSC1517; Integrated Security=true;"
       providerName="System.Data.SqlClient"/>
</connectionStrings>