@{
    //when this page executes, the execution is physically top to bottom
    // this requires the developer to properly create logic so that the
    //  proper critical paths are preduced 
    Layout = "~/_Layout.cshtml";
    Page.Title = "TextBox Sample";
    //variables declared in the initial coding block are global to the entire web page
    string entereddata = "";
    string name = "";
    string email = "";
}

@if (IsPost)
{    // ISPost text whether the page is 1st time or a post back from the browser
    //the value of the flag will be false on the first time
    // on follow up post backs,  the flags will be true

    //extract any needed information (data) from the form
    // extracting data from a control uses Request.Form["controlname"]
    //this is C# coding, so case sensitive and spelling is important
    //if a controlname is not found, you will recieve a value of null
    //ALL data coming from the form, will be a string

    // Extract data
    name = Request.Form["cscodingname"];
    email = Request.Form["email"];
    //note: the name PressMe has been given to both buttons
    //the data returned from the control will be the data assigned to the value parameter
    //thus, the button will have a value of either name or email, NOT both
    var thebutton = Request.Form["PressMe"];

    //start your testing for your critical path
    if (thebutton.Equals("name"))
    {
        entereddata = name;
    }
    else
    {
        entereddata = email;
    }

}
else
{
    entereddata = "you have requested this page for the first time";
}

@section banner {<h3>Form Using TextBox</h3>}
<div>
    <form id="theForm" method="post">
        <table>
            <tr>
                <td>Enter your name:</td>
                <td><input type="text" id="javascrpitname" name="cscodingname" value="@name" /></td>
            </tr>
            <tr>
                <td>Enter your Email:</td>
                <td><input type="text" id="Email" name="Email" value="@email" /></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit" id="PressMe" name="PressMe" value="name">Display Name</button>&nbsp;&nbsp;&nbsp;
                    <button type="submit" id="PressMe" name="PressMe" value="email">Display Email</button>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <label>@entereddata</label>
                </td>
            </tr>
        </table>
    </form>

</div>


