@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "WebGrid Destination";
    var pid = Request.QueryString["pid"];
}
@section banner {<h3>WebGrid Destination</h3>}

<p>you sent the product id of @pid</p>
